@media (min-width: 1200px) {
        .hidden-72rtr7 {
            display: none !important
        }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        .hidden-1qvsuc3 {
            display: none !important
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .hidden-jx6fqt {
            display: none !important
        }
    }

    @media (max-width: 767.98px) {
        .hidden-7v9kko {
            display: none !important
        }
    }

    @media (min-width: 1200px) {
        .hidden-1me21ll {
            display: none !important
        }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        .hidden-qvc7bl {
            display: none !important
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .hidden-y6xcys {
            display: none !important
        }
    }

    @media (max-width: 767.98px) {
        .hidden-1f2s2cm {
            display: none !important
        }
    }